<h2>Edytuj <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

 <div class="form-group">
    <%= f.label :hasło %> <i>(pozostaw to pole puste, jeśli nie chcesz zmieniać hasła)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

 <div class="form-group">
    <%= f.label :potwierdź_hasło %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

 <div class="form-group">
    <%= f.label :aktualne_hasło %> <i>(Potrzebujemy Twojego aktualnego hasła, by zatwierdzić zmiany.)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control'%>
  </div>

  <div class="actions">
    <%= f.submit "Uaktualnij", class: 'btn btn-primary' %>
  </div>
<% end %>


<p>Niezadowolony? <%= button_to "Opuść moje konto", registration_path(resource_name), data: { confirm: "Jesteś pewny?" }, method: :delete %></p>

<%= link_to "Wróć", :back %>
